body {
  background-image: url("beach.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
   font-family: 'Muli', sans-serif;
   font-size: 1.5em;
   /*display: block;*/
   margin: 0;
   padding: 0;
   height: 100%;
   color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
    position: fixed;
    height: 80px;
    width: 100%;
    /*background: #00CCCC;*/
    background: #FFFFFF;
    color: #0000FF;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
    opacity: 100;
}

#main {
  padding-top: 85px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#wrap {
  position: relative;
  height: 100%;
}

nav ul {
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
}

a {
  color: #01B5AA;
  text-decoration: none;
}


h1  {
  color: white;
  text-align: center;
  font-family:  'Lato', sans-serif;
  font-family: 'Muli', sans-serif;
}

#playerA {
  margin-left: 0;
}

#playerB {
  margin-left: 0;
}

#track1 {
  position: relative;
  left: 10px;
}

#board {
  position: fixed;
  bottom: 0;
  width: 90%;
}

#begin {
  margin: 0 auto;
  width:90px;
  display: block;
  font-size:20px;
  font-weight:700;
  color:#fff;
  line-height:35px;
  text-align:center;
  background:url(../images/button_form.gif) top repeat-x #308da2;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;behavior:url(js/PIE.htc);
  position:relative;
  text-decoration:none;
}

#result {
  width: 100%;
  text-align: center;
}

.instructions {
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

