/* CSS for blog template */

h4, h3 {
  /*color: #D04103;*/
  color:orange;
  text-align: center;
}

h2 {
  color: black;
}

h5 {
  color: black;
  text-align: center;
}


h6 {
  border-bottom: 1px solid gray;
  padding: 4px;
  text-align: center;
}

.emphasis {
  color: #1BA2CB;
  font-family: 'Courier', Open-Sans, sans-serif;
}

.strategies {
  font-size: 0.7em;
  font-family: 'Courier', Open-Sans, sans-serif;
  color: red;

}

li {
 list-style-type: none;
}

#date {
  font-style: italic;
  text-align: center;
}

.blog_list {
  margin: 0 auto;
  width: 500px;
  border-top: 1px solid orange
}

.blog_list a {
  color: #1BA2CB;
  font-size: 0.7em;
}

p {
  color: black;
  font-family: 'Lato', sans-serif;
  font-family: 'Muli', sans-serif;
  font-size: 0.7em;
  text-align: justify;
}


.blogcontent {
  padding: 40px;
}

#page_content {
    /*padding-left: 50px;*/
    margin:0 auto;
    width: 75%;
    /*height: 400px;*/
    position: relative;
    color: black;
    background-color: #FFFFFF;
    /*float: left;*/
    overflow: scroll;
    border-radius: 15px;
    margin-bottom: 40px;
}

#footer {
   position: relative;

}