/* CSS for blog template */

h4, h3 {
  color: purple;
}

h2 {
  color: black;
}

.blog_link {
  color: black;
}


#date {
  font-style: italic;

}

p {
  color: black;
  font-family: 'Raleway', Open-Sans, sans-serif;
  font-size: 0.6em;
}


.blogcontent {
  padding: 10px;
}

#page_content {
    /*padding-left: 50px;*/
    margin:0 auto;
    width: 1000px;
    /*height: 400px;*/
    position: relative;
    color: black;
    background-color: #FFFFFF;
    /*float: left;*/
    overflow: scroll;
    border-radius: 15px;
}

#footer {
   position: relative;

}