/* CSS for blog template */

h4, h3 {
  color: #D04103;
}

h2 {
  color: black;
}

.blog_link {
  color: black;
}

.emphasis {
  color: #1BA2CB;
  font-family: 'Courier', Open-Sans, sans-serif;
}

li {
 list-style-type: none;
}

#date {
  font-style: italic;

}

p {
  color: black;
  font-family: 'Raleway', Open-Sans, sans-serif;
  font-size: 0.7em;
}


.blogcontent {
  padding: 40px;
}

#page_content {
    /*padding-left: 50px;*/
    margin:0 auto;
    width: 75%;
    /*height: 400px;*/
    position: relative;
    color: black;
    background-color: #FFFFFF;
    /*float: left;*/
    overflow: scroll;
    border-radius: 15px;
}

#footer {
   position: relative;

}