* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    background-color: #FFFFFF;
    height: 100%;
   font-family: 'Raleway', sans-serif;
   font-size: 1.5em;
   background-image: url("../stormk.jpg");
   /*display: block;*/
   margin: 0;
   padding: 0;
   height: 100%;
   color: #FFFFFF;
}

#header {
    position: absolute;
    height: 80px;
    width: 100%;
    background: #00CCCC;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
    opacity: .70;
}

.my_blurb {
    text-align: center;
    color: #FFFFFF;
    font-family: Courier, sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    border: 1px solid #F68D1C;
    padding: 10px;
}

.blurb {
    margin-left: 5px;
    margin-top: 5px;
    color: #FFFFFF;
    font-family: 'Lato', Open-Sans, sans-serif;
    font-size: 0.6em;
}

nav ul {
  margin-top: 20px;
  padding: 10px;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: black;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    text-align: right;
    margin: 0px;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    z-index: 1000;
}

footer p {
    color: #FFFFFF;
}

#wrap {
    position: relative;
    height: 100%;
}

#wrap_content {

}

.undef {
    width: 100%;
}

.top_h {
    height: 100px;
}

.bottom_h {
    height: 60px;
}

#home_content {
    /*padding-left: 50px;*/
    margin:0 auto;
    width: 450px;
    height: 400px;
    position: relative;
    color: black;
    background-color: transparent;
    /*float: left;*/
    overflow: scroll;
    border-radius: 5px;
}


