* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    /*background-color: #FFFFFF;*/
    height: 100%;
   font-family: 'Lato', sans-serif;
   font-family: 'Muli', sans-serif;
   font-size: 1.5em;
   background-image: url("../palmtree.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   /*display: block;*/
   margin: 0;
   padding: 0;
   height: 100%;
   color: black;
}

#header {
    position: fixed;
    height: 80px;
    width: 100%;
    /*background: #00CCCC;*/
    background: #FFFFFF;
    color: #0000FF;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
    opacity: 100;
}


#home_content {
    /*padding-left: 50px;*/
    margin:0 auto;
    width: 100%;
    height: 400px;
    padding-top: 60px;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: Courier, sans-serif;
}

/*#blurb p {
  font-family: Courier, sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
}*/

.my_bio {
  font-family: Courier, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding-top: 50px;
  color: #FFFFFF;

}

.my_name {

    text-align: center;
    /*color: #01B5AA;*/
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 4.0em;
    font-weight: normal;
    /*border: 2px solid #F68D1C;*/
    padding: 10px;
}

#blurb {

    width: 700px;
    height: 500px;
    margin: 0 auto;
    color: black;
    /*font-family: 'Raleway', Open-Sans, sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-family: 'Muli', sans-serif;
    font-size: 0.6em;
    /*float: left;*/
}

#blurb a {
  display: inline;
  text-align: center;
}


#left {
  float: left;

}
#right {
  float: right;
  padding: 10px;
}
#bio {
  padding-top: 10px;
}

/*#myphoto {
    /*float: right;*/
    /*padding-right: 165px;

}*/

nav ul {
  margin-top: 20px;

  /*/text-align: center;*/
}

nav ul li {

  display: inline;
  margin: 30px;
  font-weight: bold;
}

a {
  color: #01B5AA;
  text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
}

a:visited {
  color: #01B5AA;
}

a:hover {
  color: red;
}

#footer {
    position: relative; /* formerly fixed!*/
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0px;
    /*background-color: white;*/
    /*border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;*/
    z-index: 1000;
    padding: 10px;
}

h4 {
  font-family: 'Courier', Open-Sans, sans-serif;
  font-weight: normal;
}

#wrap {
    position: relative;
    height: 100%;
}

#wrap_content {

}

/*.undef {
    width: 100%;
}
*/

/*.bottom_h {
  width: 100%;
  height: 50px;
}*/


.top_h {
  width:100%;
  height: 100px;
}







