* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    background-color: #FFFFFF;
    height: 100%;
   font-family: 'Raleway', sans-serif;
   font-size: 1.5em;
   background-image: url("../upfeathers.png");
   /*display: block;*/
   margin: 0;
   padding: 0;
   height: 100%;
   color: #FFFFFF;
}

#header {
    position: absolute;
    height: 80px;
    width: 100%;
    background: #00CCCC;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
    opacity: .70;
}

/*#home_content {
    /*padding-left: 50px;*/
    /*margin:0 auto;
    width: 100%;
    height: 500px;
    position: relative;
    color: black;
    background-color: transparent;*/
    /*float: left;*/
    /*overflow: scroll;*/

/*}*/

#home_content {
    /*padding-left: 50px;*/
    margin:0 auto;
    width: 50%;
    height: 400px;
    /*height: 400px;*/
    position: relative;
    color: black;
    background-color: #FFFFFF;
    opacity: .80;
    /*float: left;*/
    /*overflow: scroll;*/
    border-radius: 15px;
}

.my_name {

    text-align: center;
    color: orange;
    font-family: Courier, sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    /*border: 2px solid #F68D1C;*/
    padding: 10px;

}

#blurb {
    /*margin-left: 5px;*/
    width: 400px;
    height: 300px;
    margin: 0 auto;
    color: gray;
    font-family: 'Raleway', Open-Sans, sans-serif;
    font-size: 0.6em;
    /*float: left;*/
}

#bio {
  padding-top: 10px;
}

/*#myphoto {
    /*float: right;*/
    /*padding-right: 165px;

}*/

nav ul {
  margin-top: 20px;
  padding: 10px;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: black;
}

#footer {
    position: relative; /* formerly fixed!*/
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0px;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width: 1px;
    z-index: 1000;
}

h4 {
  font-family: 'Courier', Open-Sans, sans-serif;
  font-weight: normal;
}

#wrap {
    position: relative;
    height: 100%;
}

#wrap_content {

}

.undef {
    width: 100%;
}

.top_h {
    height: 100px;
}

.bottom_h {
    height: 60px;
}




