/* CSS for projects */

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
   height: 100%;
   font-family: 'Lato', sans-serif;
   font-family: 'Muli', sans-serif;
   font-size: 1.5em;
   margin: 0;
   padding: 0;
   height: 100%;
   color: black;
}

#header {
    position: fixed;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    color: #0000FF;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 100;
    opacity: 100;
}

#left {
  float: left;
}

#right {
  float: right;
  padding: 10px;
}

#bio {
  padding-top: 10px;
}

nav ul {
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
}

a {
  color: #01B5AA;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

iframe {
  display: block;
  margin: 0 auto;
}

a:visited {
  color: #01B5AA;
}

a:hover {
  color: red;
}

#footer {
    position: relative;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: 1000;
    padding: 10px;
}


#wrap {
    position: relative;
    height: 100%;
}

#main {
  padding-top: 80px;
}

.top_h {
  width:100%;
  height: 100px;
}


/* projects customization starts here */

#project-wrapper {
  width: 700px;
  margin: 0 auto;
}

h3, h1 {
  color: #9932CC;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.bold {
  font-weight: bolder;
}

.project-grid {
  width: 300px;
  height: 210px;
  display: inline-block;
}

.project-description {
  width: 300px;
  height: 210px;
  display: inline-block;
  float: right;
}

.project-break {
  padding: 10px;
}
