html,
h1,
h2,
h3,
div,
body {
  display: block;
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(0, 147, 221);
}

header {
  height: 65px;
}

header h3 {
  display: inline-block;
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 35px 0;
}

nav {
  float: right;
  margin: 25px 0 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  float: left;
  margin: 0;
  padding: 10px;
}

nav a, nav a:visited, nav a:active {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.icons a, .icons a:visited {
  color: white;
  font-size: 40px;
}

hr {
  color: turquoise;
}

.spaced-row {
  padding: 10px 10px 80px;
}

nav ul li {
  display: inline-block;
  margin: 0 0 5px 0;
  padding-left: 5px;
}

.links {
  float: right;
  margin: 25px 0 0;
}

.name {
  text-transform: uppercase;
  font-size: 20px;
}

.self-description {
  margin: 0 auto;
  width: 1000px;
  display: inline-block;
}

.project-text {
  font-size: 15px;
}

.bold {
  font-weight: bolder;
  color: black;
}

.tagline {
  color: #2196f3;
  text-align: center;
  margin: 10px 10px 15px 10px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.title-text {
  text-align: center;
  margin: 10px 10px 15px 10px;
  padding-top: 10px;
  text-transform: uppercase;
}

.icons ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.icons li {
  list-style: none;
  display: inline-block;
}

.fa {
  list-style: none;
}

p {
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  color: white;
  margin: 0 0 10px;
}

section {
  display: block;
  padding: 120px 0 100px;
}

.bordered {
  border: 2px solid white;
  background: #e67247;
  color: white;
}

.btn {
  border-radius: 3px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.quiz {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.submit {
  text-align: center;
}

td,
tr {
  padding: 10px;
}

.css-typing {   
  font-family: 'Work Sans', sans-serif;
  font-size: 100px;
  width: 30em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 4s steps(40, end);
  animation: type 4s steps(40, end);
}

.css-typing:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;    
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type2 5s steps(40, end);
    -webkit-animation-delay: 5s; 
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing:nth-child(3) {
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type3 5s steps(40, end);
    -webkit-animation-delay: 10s; 
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

 @keyframes type {
    from { width: 0; }
}

@-webkit-keyframes type {
    from { width: 0; }
}

span {
  animation: blink 1s infinite;
}

@keyframes type2 {
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
}

@-webkit-keyframes type2 { 
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
}  

@keyframes type3 {
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}

} 

@-webkit-keyframes type3 {
  0%{width: 0;}
  from {opacity:0;}
  1%{opacity:1;}
  to{opacity:1;}
  100%{opacity:1;}
}  