/*
 styles for 80squiz
*/

h1 {
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      padding: 2px;
      font-family: 'Lato', sans-serif;
      text-align: left;
      color: #9932CC;
      letter-spacing: 0.1em;
    }

body {

     background-color: #FFFFFF;
   }

p   {
     font-family: 'Lato', sans-serif;
    }

td  {
    padding: 5px;
    vertical-align: top;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }

td p  {
     margin: 0px;
     font-size: 14px;
  }

img  {
    float:right;
    width: 400px;
}

p.example {
     float: right;
     clear:both;
     font-size: 11px;
     font-style: italic;
}

label.labels { font-size: 12px; }
td.output { font-size: 12px;}

#ans {
  float:right;
  clear: both;
  font-size: 12px;
}

#buttons input {
  margin: 0px 5px;
  color: black;
  background-color: rgb(255, 255, 0)
}

#main {
  padding-top: 10px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}



